#special
python/stu_labs/lab3blosum/alignments/**

# Python
**/__pycache__/

#JetBrains
**/.idea
*.iml
**/cmake*


#---MS OFFICE---
*.docx
*.doc
*.xslx
*.xsl
*.pptx
*.ppt

#---Media---
*.wav
*.mp3
*.avi


#---Pictures---
*.bmp
*.jpg
*.jpeg
*.png

#---archives---
*.zip
*.gzip
*.gz
*.rar
*.tar


#---TeX---
*.log
*.aux
*.synctex
*.synctex.gz
*.pdf
*.bcf
*.run.xml
*.toc
*.lof
*.lot

#---C--- 

# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#--Java--
*.jar
*.war
*.class

